<a href="https://colab.research.google.com/github/shushantarora/MachineLearning/blob/master/California_Housing_Prediction_Tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

# Read Data

In [0]:
df = pd.read_csv('housing.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [0]:
x_data = df.drop(df.columns[[8,9]],axis = 1)

In [10]:
x_data.head()

   longitude  latitude  ...  households  median_income
0    -122.23     37.88  ...       126.0         8.3252
1    -122.22     37.86  ...      1138.0         8.3014
2    -122.24     37.85  ...       177.0         7.2574
3    -122.25     37.85  ...       219.0         5.6431
4    -122.25     37.85  ...       259.0         3.8462

[5 rows x 8 columns]

In [0]:
y_data = df['median_house_value']

In [15]:
y_data.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

# Split Train Test Data

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.30, random_state=101)

In [66]:
print(x_train.shape,y_train.shape)

((14448, 8), (14448,))

# Tensorflow Placeholders and Session Initialisation

In [0]:
n_features = 8
X_PH = tf.placeholder(tf.float64,(None,n_features))

In [0]:
y_a_PH = tf.placeholder(tf.float64,(None,1))

In [0]:
n_neurons = 3
M1 = tf.Variable(np.random.randn(n_features,n_neurons))

In [0]:
M2 = tf.Variable(np.random.randn(n_neurons,n_neurons))
M3 = tf.Variable(np.random.randn(n_neurons,n_neurons))
M4 = tf.Variable(np.random.randn(n_neurons,1))

In [0]:
L1_Out = tf.matmul(X_PH,M1)
L2_Out = tf.matmul(L1_Out,M2)
L3_Out = tf.matmul(L2_Out,M3)
L4_Out = tf.matmul(L3_Out,M4)
y_p = L4_Out

In [0]:
cost = tf.reduce_mean((y_p - y_a_PH)**2)
minimizer = tf.train.GradientDescentOptimizer(learning_rate = 0.0001)
minimizer = minimizer.minimize(cost)

In [69]:
Init = tf.global_variables_initializer()
S = tf.Session()
S.run(Init)

epochs = 500

for i in range(0,epochs):
  fd = {X_PH:x_train, y_a_PH:y_train}
  print(S.run(cost,feed_dict = fd))
  S.run(minimizer,feed_dict = fd)

ValueError: ignored